/* Skills */

.skillsGroupHeading {
    display: grid;
    grid-template-columns: 1.8em auto 1fr;
    align-items: center;
    column-gap: 1em;
}

.skillsGroupHeading svg:first-of-type {
    color: var(--highlight-color);
}

.chevron {
    justify-self: flex-end;
    color: var(--fg-color);
    transition: transform 0.2s;
}

.chevronRotated {
    transform: rotate(-180deg);
}

.skillsList {
    margin-top: 1em;
}

.skill h4 {
    margin: 0.5em 0 0.2em 0.3em;
    color: var(--fg-color);
}

.skillBar {
    position: relative;
    background-color: var(--tertiary-fg-color);
    border-radius: 10em;
    height: 12px;
    width: 100%;
}

.skillBarFill {
    border-radius: 2em;
    position: absolute;
    background-color: var(--highlight-color);
    height: 12px;
}

.percentage {
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    z-index: 1;
    color: var(--highlight-fg-color);
}

@media only screen and (max-width: 852px) {
    .skillsGroupHeading {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 770px) {
    .skillsGroupHeading {
        font-size: 1em;
    }

    .skillBar {
        height: 10px;
    }
    
    .skillBarFill {
        height: 10px;
    }
    
    .percentage {
        font-size: 8px;
    }
}